.half-screen {
  padding: 0;

  .flex-xs-column-reverse {
    @include media-breakpoint-only(xs) {
      flex-direction: column-reverse !important;
    }
  }

  .flex-lg-row-reverse {
    @include media-breakpoint-only(lg) {
      flex-direction: row-reverse !important;
    }
  }

  h1, h2 {
    font-family: $fontFamily-serif;
    font-size: 5rem;
    color: $grey--dark;
    padding: 10rem 1rem 0 10rem;
    text-align: left;
    @include media-breakpoint-down(xs and sm and md) {
      padding: 4rem 0 0 4rem;
      font-size: 3rem;
    }
    @include media-breakpoint-only(xs) {
      font-size: 3rem;
      text-align: center;
      padding: 4rem 0 0 0;
    }
  }

  h1 {
    font-size: 7rem;
    @include media-breakpoint-down(xs and sm and md) {
      padding: 4rem 0 0 4rem;
      font-size: 4rem;
      text-align: center;
    }
    @include media-breakpoint-only(xs) {
      padding: 4rem 0 0 0;
    }
  }

  .section {
    display: flex;
    flex-flow: wrap;

    .text-content {
      flex: 0 0 50%;
      @include media-breakpoint-only(md) {

      }
      @include media-breakpoint-down(xs) {
        flex: 0 0 100%;
      }

      .text {
        font-family: $fontFamily-light;
        font-size: 2rem;
        padding: 0 10rem 10rem 10rem;
        @include media-breakpoint-down(xs and sm) {
          font-size: 2rem;
        }

        p {
          margin-bottom: 3rem;
        }
      }

      .half-screen-text-right {
        @include media-breakpoint-down(xs and sm and md) {
          padding: 4rem 4rem 0 4rem;
        }
      }

      .half-screen-text-left {
        @include media-breakpoint-down(xs and sm and md) {
          padding: 0 4rem 0 4rem;
        }
      }
    }

    .heroBanner-image {
      flex: 0 0 50%;
      @include media-breakpoint-down(xs) {
        flex: 0 0 100%;
      }

      .half-screen-image {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  ul {
    list-style-image: url("/assets/img/icon-list.svg");
  }

  li {
    padding-left: 0.5rem;
    margin-bottom: 1rem;
  }
}
