<div class="row justify-content-between icon-card_row">
  <div class="icon-card col-md-3" about="" typeof="">
    <a href="/getting-started/">
      <div class="icon-card__icon">
        <img typeof="foaf:Image" src="/assets/img/how-it-works/hw_1_1.svg" width="100" height="96" alt="Contractors Join" />
      </div>
      <div class="icon-card__title">
        <h4>Get in touch</h4>
      </div>
      <div class="icon-card__description px-xl-5">
        <p>Get in touch with {{ site.title }} to let us know what you’re looking for.</p>
      </div>
    </a>
  </div>

  <div class="icon-card col-md-3" about="" typeof="">
    <a href="/getting-started/">
      <div class="icon-card__icon">
        <img typeof="foaf:Image" src="/assets/img/how-it-works/hw_2_1.svg" width="150" height="98" alt="Employers Hire" />
      </div>
      <div class="icon-card__title">
        <h4>Get connected</h4>
      </div>
      <div class="icon-card__description px-xl-5">
        <p>Whether you use Slack, MS Teams, or something else, we connect our platform to yours.</p>
      </div>
    </a>
  </div>

  <div class="icon-card col-md-3" about="" typeof="">
    <a href="/getting-started/">
      <div class="icon-card__icon">
        <img typeof="foaf:Image" src="/assets/img/how-it-works/hw_3_1.svg" width="97" height="82" alt="Employer Work" />
      </div>
      <div class="icon-card__title">
        <h4>Qualify and choose</h4>
      </div>
      <div class="icon-card__description px-xl-5">
        <p>As you add projects, you’re able to review and interview qualified, available talent.</p>
      </div>
    </a>
  </div>

  <div class="icon-card col-md-3" about="" typeof="">
    <a href="/getting-started/">
      <div class="icon-card__icon">
        <img typeof="foaf:Image" src="/assets/img/how-it-works/hw_4.svg" width="84" height="82" alt="Employer Pay" />
      </div>
      <div class="icon-card__title">
        <h4>One bill</h4>
      </div>
      <div class="icon-card__description px-xl-5">
        <p>As your resources work, you’ll be given detailed reports and will be billed monthly.</p>
      </div>
    </a>
  </div>
</div>
<div class="levelBox-body-button text-center">
  <a class="btn btn--blue" href="/getting-started/">Get Started</a>
</div>
