<div class="row justify-content-between icon-card_row">
  <div class="icon-card col-md-3" about="" typeof="">
    <a href="/getting-started/">
      <div class="icon-card__icon">
        <img typeof="foaf:Image" src="/assets/img/how-it-works/hw_1.svg" width="100" height="84" alt="Post a Job" />
      </div>
      <div class="icon-card__title">
        <h4>Post a Job</h4>
      </div>
      <div class="icon-card__description">
        <p>Tell us about your project. We'll contact you with a list of potential resources.</p>
      </div>
    </a>
  </div>
  <div class="icon-card col-md-3" about="" typeof="">
    <a href="/getting-started/">
      <div class="icon-card__icon">
        <img typeof="foaf:Image" src="/assets/img/how-it-works/hw_2_1.svg" width="150" height="98" alt="Hire the Best" />
      </div>
      <div class="icon-card__title">
        <h4>Hire the Best</h4>
      </div>
      <div class="icon-card__description">
        <p>Select from your qualified list, and quickly meet to determine if they are a fit.</p>
      </div>
    </a>
  </div>
  <div class="icon-card col-md-3" about="" typeof="">
    <a href="/getting-started/">
      <div class="icon-card__icon">
        <img typeof="foaf:Image" src="/assets/img/how-it-works/hw_3.svg" width="97" height="82" alt="Work" />
      </div>
      <div class="icon-card__title">
        <h4>Work</h4>
      </div>
      <div class="icon-card__description">
        <p>You manage your contractors' work. We can recommend professional workflow&#039;s and hosting, or bring your own.</p>
      </div>
    </a>
  </div>
  <div class="icon-card col-md-3" about="" typeof="">
    <a href="/getting-started/">
      <div class="icon-card__icon">
        <img typeof="foaf:Image" src="/assets/img/how-it-works/hw_4.svg" width="84" height="82" alt="Pay" />
      </div>
      <div class="icon-card__title">
        <h4>Pay</h4>
      </div>
      <div class="icon-card__description">
        <p>Manage all invoices and payments for one or many projects through {{ site.title }}.</p>
      </div>
    </a>
  </div>
</div>
<div class="levelBox-body-button text-center">
  <a class="btn btn--blue mb-4" href="/getting-started/">Get Started</a>
</div>
