<div class="row justify-content-between icon-card_row">
  <div class="icon-card col-md-3" about="" typeof="">
    <a href="/getting-started/">
      <div class="icon-card__icon">
        <img typeof="foaf:Image" src="/assets/img/how-it-works/hw_1.svg" width="100" height="96" alt="Contractors Join" />
      </div>
      <div class="icon-card__title">
        <h4>Join Us</h4>
      </div>
      <div class="icon-card__description">
        <p>Create your free profile on our Talent Network and get started working today.</p>
      </div>
    </a>
  </div>
  <div class="icon-card col-md-3" about="" typeof="">
    <a href="/getting-started/">
      <div class="icon-card__icon">
        <img typeof="foaf:Image" src="/assets/img/how-it-works/hw_2.svg" width="150" height="98" alt="Employers Hire" />
      </div>
      <div class="icon-card__title">
        <h4>Qualify</h4>
      </div>
      <div class="icon-card__description">
        <p>A certified {{ site.vertical }} Senior Developer reviews your code and references.</p>
      </div>
    </a>
  </div>
  <div class="icon-card col-md-3" about="" typeof="">
    <a href="/getting-started/">
      <div class="icon-card__icon">
        <img typeof="foaf:Image" src="/assets/img/how-it-works/hw_3.svg" width="97" height="82" alt="Employer Work" />
      </div>
      <div class="icon-card__title">
        <h4>Work</h4>
      </div>
      <div class="icon-card__description">
        <p>Once approved, we start connecting you with opportunities.</p>
      </div>
    </a>
  </div>
  <div class="icon-card col-md-3" about="" typeof="">
    <a href="/getting-started/">
      <div class="icon-card__icon">
        <img typeof="foaf:Image" src="/assets/img/how-it-works/hw_4.svg" width="84" height="82" alt="Employer Pay" />
      </div>
      <div class="icon-card__title">
        <h4>Get Paid</h4>
      </div>
      <div class="icon-card__description">
        <p>Once engaged, we pay monthly or at the end of the job.</p>
      </div>
    </a>
  </div>
</div>
<div class="levelBox-body-button text-center">
  <a class="btn btn--blue" href="/getting-started/">Get Started</a>
</div>
