---
title: "Professional Services"
permalink: "/services/professional/"
class: "node-type-page"
---

{% include hero_banner.html
  title="Find the right fit with screened professionals."
  sub_title="We can provide access to top professionals with experience working with sites across multiple industries and platforms."
  img="/assets/img/hero-banner/services-professional.jpg"
  img_class="img-align-tablet-right"
  img_alt="Professional"
  btn_text="Get Started"
%}

{% include half-screen.html
  title = "Choose *site.title* for your project needs."
  description = "*site.title* **Professional Services** gives you:
  + curated lists of top (pre-vetted) freelance developers for each project
  + support from talent coordinators
  + lightning-fast hires (hours, not days)
  + collaboration tools"
  img = "/assets/img/professionals/journal.jpg"
  xs_reverse = true
  lg_reverse = false
%}

{% include half-screen.html
  title = "Industry experts at your fingertips."
  description = "We have extensive knowledge and experience working with the following industries:
  + Healthcare
  + eCommerce
  + Software & technology
  + Finance
  + Retail
  + Media"
  img = "/assets/img/professionals/industry-experts.jpg"
  img_class="img-align-tablet-right"
  xs_reverse = true
  lg_reverse = true
%}

{% include top-talent.html %}

{% include half-screen.html
  title = "Our code review is no joke."
  description = "To be considered an Enterprise Professional, a resource must bring
    large enterprise project experience along with technical, workflow tools,
    remote-work experience, communication skills and a
    demonstration of commitment to the *site.vertical* Community and *site.vertical* Coding Standards."
  img = "/assets/img/professionals/code-review.jpg"
  xs_reverse = true
  lg_reverse = false
%}

{% include half-screen.html
  title = "One bill for all your resources."
  description = "No matter how many projects and contractors you have, you’ll receive a single monthly bill. How’s
    that for convenience?"
  img = "/assets/img/professionals/invoice.jpg"
  xs_reverse = true
  lg_reverse = true
%}
