---
title: "Enterprise Services"
permalink: "/services/enterprise/"
class: "node-type-page"
---

{% include hero_banner.html 
  title="Find the right fit with Enterprise Experience."
  sub_title="Our teams are immersed in the *site.vertical* community and can help you connect with the best developers available."
  img="/assets/img/hero-banner/services-enterprise.jpg"
  img_class="img-align-tablet-right"
  img_alt="Enterprise"
  btn_text="Get Started"
%}

{% include half-screen.html
  title = "The talent you need, when you need it."
  description = "No need to worry about negotiations or subscriptions — let us know what your
  contracting needs are, and we’ll make it happen"
  img = "/assets/img/enterprise/talent.jpg"
  xs_reverse = true
  lg_reverse = false
%}

{% include half-screen.html
  title = "Hiring freelancers, simplified."
  description = "Your dedicated account manager will present you with a curated list of potential contractors whenever
  you have an open position.

  Connect to our platform with your Teams or Slack account for easy integration."

  img = "/assets/img/enterprise/hiring.jpg"
  xs_reverse = true
  lg_reverse = true
%}

{% include top-contractors.html %}

{% include half-screen.html
  title = "Our code review is no joke."
  description = "To be considered an Enterprise Professional, a resource must bring
  large enterprise project experience along with technical, workflow tools,
  remote-work experience, communication skills and a
  demonstration of commitment to the *site.vertical* Community and *site.vertical* Coding Standards."
    img = "/assets/img/enterprise/code_review.jpg"
  img_class="img-align-tablet-right"
  xs_reverse = true
  lg_reverse = false
%}

{% include half-screen.html
  title = "One bill for all your resources."
  description = "No matter how many projects and contractors you have, you’ll receive a single monthly bill. How’s
  that for convenience?"
  img = "/assets/img/enterprise/invoice.jpg"
  img_class="img-align-tablet-right"
  xs_reverse = true
  lg_reverse = true
%}

